.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App ul {
  list-style: none;
  width: 100%;
}

.App li {
  display: inline-block;
  margin-right: 1rem;
}

.App a {
  text-decoration: none;
  color: black;
}

.App .Radios {
  margin: 16px;
  display: block;
}

.App a:hover {
  color: #fa3f58;
}
.App a:active,
.App a.active {
  color: #fa923f;
}
